#set( $title = "Intro" )
#parse("public/top.vm")
<head>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/incidents-daily.js"></script>
  <script src="../js/visualization.js"></script>

  <!-- for graph -->
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/custom.css"/>
</head>
#parse("public/navigation.vm")

<body onload="checkIfLoggedIn3()">

<main class="container">
  <div class="bg-light p-5 rounded" style="padding-top: 10rem">
    <h3>About JHU Security App</h3>
    <p>Public safety has always been a concern for citizens, especially for those who live in bad neighborhoods. We aim to provide users a precise way to view, report and be notified of security incidents. Our intended audience would mainly be Baltimore citizens, especially JHU students and faculty.</p>

    <h3>Contact the team</h3>
    <p>Feel free to reach out to us by email! <a href="mailto: dummy_email@jhu.edu">dummy_email@jhu.edu</a><p></p>

  </div>
</main>



</body>
</html>
