
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #212630">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Security App</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
##            <li class="nav-item">
##                <a class="nav-link" href="/account">Account</a>
##            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Incident History</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item" href="/incidents-daily">Daily</a></li>
                    <li><a class="dropdown-item" href="/incidents-monthly">Monthly</a></li>
                    <li><a class="dropdown-item" href="/incidents-annual">Annual</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="/incidents">View All Incidents</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/intro">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>

        </ul>
        <div class="navbar-nav ms-auto">
##            <a href="login" id="login" class="nav-item nav-link"><p9 id="ls">Login/Signup </p9></a>
            <button class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" id="signinB" style="margin:auto; padding: 0; width:200px;display:block"></button>

            <button type="button" id="signoutB" class="btn btn-primary" onclick="signOut()" style="margin:auto; width:200px;display:block;">Sign out</button>
        </div>
    </div>
</nav>